<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>{{ title }}</title>

    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" href="/components/bootstrap/docs/assets/css/bootstrap.css"/>
    <link rel="stylesheet" href="/components/select2/select2.css"/>
    <meta name="viewport" content="width=device-width">
    <base href="/admin/"/>
    <style type="text/css">
        .container {
            width: 95%;
        }
    </style>

</head>
<body ng-app="videorazbor">
<!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->

<div class="navbar navbar-inverse">
    <div class="navbar-inner">
        <div class="container">
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li>
                        <a href="/admin#/movie">Ролики</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Атрибуты роликов <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/admin#/property/genre">Жанры</a></li>
                            <li><a href="/admin#/property/language">Языки</a></li>
                            <li><a href="/admin#/property/instrument">Инструменты</a></li>
                            <li><a href="/admin#/property/lesson_type">Тип урока</a></li>
                            <li><a href="/admin#/property/technique">Приемы игры</a></li>
                            <li><a href="/admin#/property/music_property">Музкальные свойства</a></li>
                            <li><a href="/admin#/property/tune">Строй</a></li>
                            <li><a href="/admin#/property/source">Источник</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
    <div class="container">

        <div id="main" role="main" class="container">
            {% set alertTypeAvaillable = [ 'info', 'success', 'warning', 'error'] %}
            {% for alert in alertTypeAvaillable %}
                {% for message in app.session.getFlashBag.get(alert) %}
                    <div class="alert alert-{{ alert }}" >
                        <button class="close" data-dismiss="alert">×</button>
                        {{ message}}
                    </div>
                {% endfor %}
            {% endfor %}
            {% block content %}
            {% endblock %}
        </div>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/components/jquery/jquery.min.js"><\/script>')</script>

    <script type="text/javascript" src="/components/underscore/underscore.js"></script>
    <script src="/components/angular/angular.js"></script>
    <script src="/components/angular-resource/angular-resource.js"></script>
    <script src="/components/select2/select2.js"></script>
    <script src="/components/angular-ui-select2/src/select2.js"></script>

    <script src="/js/bootstrap-custom/ui-bootstrap-custom-tpls-0.5.0.min.js"></script>

    <script src="/js/admin/app.js"></script>
    <script src="/js/admin/directives.js"></script>
    <script src="/js/admin/controllers.js"></script>
    <script src="/js/admin/filters.js"></script>


    <script type="text/javascript" src="/components/bootstrap/js/bootstrap-dropdown.js"></script>

</body>
</html>
