{% extends 'userlayout.html.twig' %}

{% block content %}
    {% if error %}
        <div>{{ error}}</div>
    {% endif %}

    <form action="{{ path('admin_login_check') }}" method="post">
        <div class="row">
            <label for="username">Username:</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" />
        </div>
        <div class="row">
            <label for="password">Password:</label>
            <input type="password" id="password" name="_password" />
        </div>
        {#
            If you want to control the URL the user
            is redirected to on success (more details below)
            <input type="hidden" name="_target_path" value="/account" />
        #}
        <br/>
        <button type="submit" id="LoginForm_submit" name="LoginForm[submit]"    class="btn btn-primary">Submit</button>
    </form>
{% endblock %}