<form class="form-horizontal" name="addMovie">
    <fieldset>

        <!-- Form Name -->
        <legend>
            <span data-ng-show="models.name">{{models.name}}</span>
            <span data-ng-show="!models.name">Новый ролик</span>
        </legend>

        <!-- Text input-->
        <div class="control-group">
            <label class="control-label">Название *</label>
            <div class="controls">
                <input id="name" data-ng-model="models.name" name="name" type="text" placeholder="" class="input-xlarge" required="">

            </div>
        </div>

        <!-- Text input-->
        <div class="control-group">
            <label class="control-label">Ссылка *</label>
            <div class="controls">
                <input id="link" data-ng-model="models.link"  name="link" type="text" placeholder="" class="input-xlarge" required="">
                <p class="help-block">Ссылка для встраивания через iframe</p>
            </div>
        </div>

        <!-- Textarea -->
        <div class="control-group">
            <label class="control-label">Описание</label>
            <div class="controls">
                <textarea id="description" name="description" data-ng-model="models.description"></textarea>
            </div>
        </div>

        <!-- Select Basic -->
        <div class="control-group">
            <label class="control-label">Инструмент *</label>
            <div class="controls">
                <select data-ng-model="models.instrument" id="instrument" name="instrument" class="input-xlarge" ng-options="i.name for i in properties.instrument">
                </select>
            </div>
        </div>


        <!-- Multiple Radios (inline) -->
        <div class="control-group">
            <label class="control-label">Язык *</label>
            <div class="controls">
                <select data-ng-model="models.language" id="language" name="language" required class="input-xlarge" ng-options="i.name for i in properties.language">
                </select>
            </div>
        </div>

        <!-- Select Multiple -->
        <div class="control-group">
            <label class="control-label">Жанр</label>
            <div class="controls">
                <select multiple data-ng-model="models.genre" multiple id="genre" name="genre" class="input-xlarge" ng-options="i.name for i in properties.genre">
                </select>
            </div>
        </div>

        <!-- Select Multiple -->
        <div class="control-group">
            <label class="control-label">Тип урока</label>
            <div class="controls">
                <select multiple data-ng-model="models.lesson_type" multiple id="lesson_type" name="genre" class="input-xlarge" ng-options="i.name for i in properties.lesson_type">
                </select>
            </div>

        </div>


        <!-- Select Multiple -->
        <div class="control-group">
            <label class="control-label">Приемы игры</label>
            <div class="controls">
                <select data-ng-model="models.technique" multiple id="technique" name="technique" class="input-xlarge" ng-options="i.name for i in properties.technique">
                </select>
            </div>
        </div>

        <!-- Select Multiple -->
        <div class="control-group">
            <label class="control-label">Особенности трека</label>
            <div class="controls">
                <select data-ng-model="models.music_property" multiple id="music_property" name="music_property" class="input-xlarge" ng-options="i.name for i in properties.music_property">
                </select>
            </div>
        </div>


        <!-- Select Basic -->
        <div class="control-group">
            <label class="control-label">Строй</label>
            <div class="controls">
                <select data-ng-model="models.tune" id="tune" name="tune" class="input-xlarge" ng-options="i.name for i in properties.tune">
                </select>
            </div>
        </div>

        <!-- Multiple Checkboxes (inline) -->
        <div class="control-group">
            <label class="control-label">Табулатура</label>
            <div class="controls">
                <label class="checkbox inline">
                    <input type="checkbox" name="tab" data-ng-model="models.tab" value="Да">
                    Да
                </label>
            </div>
        </div>

        <!-- Multiple Checkboxes (inline) -->
        <div class="control-group">
            <label class="control-label">Медиатор</label>
            <div class="controls">
                <label class="checkbox inline">
                    <input type="checkbox" data-ng-model="models.mediator"  name="mediator" value="Да">
                    Да
                </label>
            </div>
        </div>

        <!-- Multiple Checkboxes (inline) -->
        <div class="control-group">
            <label class="control-label">Каподастер</label>
            <div class="controls">
                <label class="checkbox inline">
                    <input type="checkbox" name="capo"  data-ng-model="models.capo" value="Да">
                    Да
                </label>
            </div>
        </div>

        <!-- Multiple Checkboxes (inline) -->
        <div class="control-group">
            <label class="control-label">Голос</label>
            <div class="controls">
                <label class="checkbox inline">
                    <input type="checkbox" name="voice" value="Да"  data-ng-model="models.voice">
                    Да
                </label>
            </div>
        </div>

        <!-- Select Multiple -->
        <div class="control-group">
            <label class="control-label">Источник</label>
            <div class="controls">
                <select multiple data-ng-model="models.origin" id="origin" name="origin" class="input-xlarge" ng-options="i.name for i in properties.origin">
                </select>
            </div>
        </div>


        <!-- Button (Double) -->
        <div class="control-group">
                <div class="controls">
                <input type="submit" data-ng-click="saveMovie()" class="btn btn-success" value="Сохранить" >
            </div>
        </div>


    </fieldset>
</form>
