{#
Source: http://dev.dbl-a.com/symfony-2-0/symfony2-and-twig-pagination/
Updated by: Simon Schick <simonsimcity@gmail.com>

Parameters:
* currentFilters (array) : associative array that contains the current route-arguments
* currentPage (int) : the current page you are in
* paginationPath (string) : the route name to use for links
* showAlwaysFirstAndLast (bool) : Always show first and last link (just disabled)
* lastPage (int) : represents the total number of existing pages


{% include 'pagination.html.twig' with {
    currentFilters: { myFilter: filtervariables },
    currentPage: page,
    paginationPath: "myroute",
    lastPage: totalPages,
    showAlwaysFirstAndLast: true
} only %}
#}
{% spaceless %}
    {% if first %}
        <ul class="pagination">
            <li><a href="{{ path(paginationPath, currentFilters|merge({page: first})) }}">First</a></li>
        </ul>
    {% endif %}

    <ul class="pagination">
        {% if prev %}
            <li><a href="{{ path(paginationPath, currentFilters|merge({page: prev})) }}">&larr;</a></li>
        {% endif %}

        {% for i in pages %}
            <li {% if i==current %}class="active"{% endif %}>
                <a href="{{ path(paginationPath, currentFilters|merge({page: i})) }}">{{ i }}</a>
            </li>
        {% endfor %}
        {% if next %}
            <li><a href="{{ path(paginationPath, currentFilters|merge({page: next})) }}">&rarr;</a></li>
        {% endif %}
    </ul>
    {% if last %}
        <ul class="pagination">
            <li><a href="{{ path(paginationPath, currentFilters|merge({page: last})) }}">Last</a></li>
        </ul>
    {% endif %}
{% endspaceless %}