<h2>{{name}}</h2>
<form class="form-horizontal">
        <div class="control-group">

                <span data-ng-show="item.id">#{{item.id}}</span>
                <input data-ng-model="item.unique_id" id="unique_id" name="unique_id" type="text" placeholder="Уникальный id" class="input-xlarge" required="">
                <input data-ng-model="item.name" id="name" name="name" type="text" placeholder="Название" class="input-xlarge" required="">
                <input data-ng-show="!item.id" type="submit" value="Добавить" class="btn btn-success" data-ng-click="save()"/>
                <input data-ng-show="item.id" type="submit" value="Обновить" class="btn btn-success" data-ng-click="save()"/>

            <a href="#" eat-click data-ng-show="item.id" type="submit" class="btn btn-danger" data-ng-click="reset()">Отмена</a>

        </div>
</form>

<h2 data-ng-show="!items.length">Пока ничего нет</h2>

<table class="table table-striped"  data-ng-show="items.length">
    <thead>
        <tr>
            <th>#</th>
            <th>Имя</th>
            <th>Уникальный id</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr data-ng-repeat="i in items">
            <td>{{i.id}}</td>
            <td>{{i.name}}</td>
            <td>{{i.unique_id}}</td>
            <td>
                <a href="#" data-ng-click="editItem(i.id)" eat-click ><i class="icon-edit"></i></a>
            </td>
            <td>
                <a href="#" data-ng-click="deleteItem(i.id)" eat-click ><i class="icon-remove-circle"></i></a>
            </td>
        </tr>
    </tbody>
</table>