<h1>Ролики   <a href="/admin#/movie/add" class="btn btn-success btn-small ">Добавить</a></h1>
<span class="pull-right">Всего <strong>{{totalMovies}}</strong> роликов</span>
<table class="table table-hover">
    <thead>
    <tr>
        <th>#</th>
        <th>Имя</th>
        <th>Ссылка</th>
        <th>Язык</th>
        <th>Инструмент</th>
        <th>Строй</th>
        <th>Жанр</th>
        <th>Тип урока</th>
        <th>Источник</th>
        <th>Голос</th>
        <th>Капо</th>
        <th>Медиатор</th>
        <th>Табы</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
        <tr data-ng-repeat="movie in movies">
            <td>{{movie.id}}</td>
            <td>{{movie.name}}</td>
            <td><a href="{{movie.link | youtuber}}" target="_blank">{{movie.link}}</a></td>
            <td>{{movie.language.name}}</td>
            <td>{{movie.instrument.name}}</td>
            <td>{{movie.tune.name}}</td>
            <td>{{showMultipleNames(movie.genre)}}</td>
            <td>{{showMultipleNames(movie.lesson_type)}}</td>
            <td>{{showMultipleNames(movie.origin)}}</td>
            <td><i data-ng-class="{'icon-star':movie.voice}"></i></td>
            <td><i data-ng-class="{'icon-star':movie.capo}"></i></td>
            <td><i data-ng-class="{'icon-star':movie.mediator}"></i></td>
            <td><i data-ng-class="{'icon-star':movie.tab}"></i></td>
            <td>
                <a href="/admin#/movie/{{movie.id}}"><i class="icon-edit"></i></a>
            </td>
            <td>
                <a href="#" eat-click data-ng-click="deleteMovie(movie.id)"><i class="icon-remove-circle"></i></a>
            </td>

        </tr>
    </tbody>
</table>
<div class="row">
    <div class="pull-left">
        <pagination num-pages="pageCount" current-page="currentPage" on-select-page="pageChanged(page)" max-size="6"></pagination>
    </div>
    <button style="margin: 20px;" class="btn btn-default inline" data-ng-click="pageChanged('all')">Показать все</button>
</div>


