body {
    background-color: #F6F6F6;
    color: #555555;
    font:17px/27px 'Open Sans',Arial,sans-serif;
}


.navbar {
    border: none;
    border-radius: 0;
}

.navbar-default {
    background-color: #222222;
    opacity:0.9;
}
.navbar .container {
    min-height: 90px;
}

.navbar-header {
    width: 100%;
}

.navbar-brand {
    font-size: 12px;
    width: 400px;
    margin-left: -45px;
}

.navbar-brand-text {
    float: left;
    width: 300px;
    margin-left: 10px;
    margin-top: 10px;
    color: #000;
}
.navbar .navbar-brand span {
    color: #000;
   
    font-size: 20px;
    text-transform: uppercase;
}


.navbar-search { float: right; margin-top: 27px}
.navbar-search .form-control {
    border: 0px;
    border-radius: 0px;
}

.navbar .navbar-brand img {
    margin-right: 5px;
    float: left;

}

.navbar .navbar-brand span {
    margin-top: 20px;
}

.top-menu{
    padding-left: 0;
    position: relative;
    margin: 23px 0 0 0;
}

.top-menu > li {
    line-height: 1.2;
    margin-right: 35px;
    font-size: 18px;
    text-transform: uppercase;
}


.top-menu > li > a{
    color: #000000;
    text-decoration: underline;
    padding: 3px 5px;
}


.top-menu-secondary {
    margin-top: 10px;
    height: 26px;
}
.top-menu-secondary li{
    margin-right: 10px;

    text-transform: none;
    font:14px Ubuntu, Verdana, sans-serif;
}

.top-menu-third-line {
    margin-top: 5px;

}
.top-menu-third-line > li{
    font-size: 14px;
    margin-right: 10px;
    text-transform: capitalize;
}

.top-menu > li.tunes-selector__active > a{
    padding: 3px 3px;
}



.tunes-selector__active {
    border: 1px solid #3787AF;
    border-bottom: none;
    padding-top: 5px;
    top: -6px;
    border-radius: 4px 4px 0 0;
    z-index: 1;
    height: 33px;
    background: #F6F6F6;
    position: relative;
}

.tunes-selector__toggle {
    text-decoration: none;
    border-bottom: 1px dotted #fff;
    border-radius: 0;
    cursor: pointer;
    margin-top: 3px;
    display: block;

}

.tunes {
    list-style: none;
    margin: 0;
    padding: 6px 0;
    border: 1px solid #3787AF;
    border-radius: 5px;
}
.tunes li{
    line-height: 1.2;
    display: inline-block;
}

.tunes > li > a{
    color: #000000;
    text-transform: capitalize;
    text-decoration: underline;
    padding: 3px 5px;
    font-size: 12px;
    font-style: italic;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
    color: #fff;
    background: #3787AF;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.4);
    text-decoration: none;
}


.menu-sidebar {
    margin: 0;
    top: 0;
    margin-left: -5px;
}

.tags li{
    display: inline-block;
    padding: 4px;
    margin-right: 20px;
}
.tags li:hover{
    background: #3787AF;
    opacity: 0.7;
}

.tags li:hover a{
    color: #fff;
}

.tags li a{
    color: #000000;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
}

.tags .active{
    background: #3787AF;
    line-height: 12px;
    border-radius: 4px;

}

.tags .active a{
    color: #FFF;
}


li.search-block{
    position: relative;
    float: right;
    margin-right: 0;
    width: 210px;
}

.search-block input{
    margin-top: -6px;
}


/* Social ---------------------- */
ul.social-links {
    display:inline-block;
}
ul.social-links li {
    background:#666;
    float:left;
    font-size:12px;
    list-style:none;
    width:32px;
    height:32px;
    text-indent:-9999px;
    margin:0px 0px 5px 0px;
    -webkit-transition:all 0.5s ease-in-out;
    -moz-transition:all 0.5s ease-in-out;
    -o-transition:all 0.5s ease-in-out;
    -ms-transition:all 0.5s ease-in-out;
    transition:all 0.5s ease-in-out;
    margin-right:10px;
    border-radius:50%;
    -webkit-transition-duration:0.8s;
    -moz-transition-duration:0.8s;
    -o-transition-duration:0.8s;
    transition-duration:0.8s;
    -webkit-transition-property:-webkit-transform;
    -moz-transition-property:-moz-transform;
    -o-transition-property:-o-transform;
    transition-property:transform;
    overflow:hidden;
}
ul.social-links li:hover {
    -webkit-transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    -o-transform:rotate(360deg);
}
ul.social-links li a.facebook {
    background:url(../img/socialpack/facebook.png) 50% 50% no-repeat
}
ul.social-links li a.twitter {
    background:url(../img/socialpack/twitter.png) 50% 50% no-repeat
}
ul.social-links li a.google {
    background:url(../img/socialpack/google.png) 50% 50% no-repeat
}
ul.social-links li a.dribbble {
    background:url(../img/socialpack/dribbble.png) 50% 50% no-repeat
}
ul.social-links li a.vimeo {
    background:url(../img/socialpack/vimeo.png) 50% 50% no-repeat
}
ul.social-links li a.skype {
    background:url(../img/socialpack/skype.png) 50% 50% no-repeat
}
ul.social-links li a.rss {
    background:url(../img/socialpack/rss.png) 50% 50% no-repeat
}
ul.social-links li a.linkedin {
    background:url(../img/socialpack/linkedin.png) 50% 50% no-repeat
}
ul.social-links li a.pinterest {
    background:url(../img/socialpack/pinterest.png) 50% 50% no-repeat
}
ul.social-links>li.facebook-link:hover {
    float:left;
    font-size:12px;
    width:32px;
    height:32px;
    background:#415b92;
}
ul.social-links>li.twitter-link:hover {
    float:left;
    font-size:12px;
    width:32px;
    height:32px;
    background:#10A3C3;
}
ul.social-links>li.google-link:hover {
    float:left;
    font-size:12px;
    width:32px;
    height:32px;
    background:#f54a35;
}
ul.social-links>li.dribbble-link:hover {
    float:left;
    font-size:12px;
    width:32px;
    height:32px;
    background:#fd83af;
}
ul.social-links>li.vimeo-link:hover {
    float:left;
    font-size:12px;
    width:32px;
    height:32px;
    background:#1ab7ea;
}
ul.social-links>li.skype-link:hover {
    float:left;
    font-size:12px;
    width:32px;
    height:32px;
    background:#56cbf7;
}
ul.social-links li a {
    width:32px;
    height:32px;
    display:block;
}
ul.social-links>li.rss-link:hover {
    float:left;
    font-size:12px;
    width:32px;
    height:32px;
    background:#ff8500;
}
ul.social-links>li.linkedin-link:hover {
    float:left;
    font-size:12px;
    width:32px;
    height:32px;
    background:#007fc5;
}
ul.social-links>li.pinterest-link:hover {
    float:left;
    font-size:12px;
    width:32px;
    height:32px;
    background: #e63037;
}


.footer {
    background:#111;
    padding-top:30px;
    padding-bottom:30px;
    margin-top:30px;
}
.footer hr {
    border-top:1px solid #000;
    border-bottom:1px solid #222;
}
.footer ul.social-links li {
    background:#222;
    margin-right:0px;
    margin-left:10px;
}

.footer .title {
    font-size: 24.5px;
}


.panel {
    border: none;
}

.navbar-default {
    background: none;
}

.link-group-label{
    font-size: 10px;
    font-weight: bold;
    color: black;
    text-transform: uppercase;
}
}

.logo,
.block-sidenav {
    margin-bottom: 20px;
}

.logo {
    font-weight: bold;
    color: #fff;
    margin-top:10px;
   font-size: 1.2em;
}

.logo img {
    margin-bottom: 10px;
}

.logo-description {
    margin-top:10px;
    color: #fff;
    font-size: 0.9em;
}

.seperator {
    margin: 0 0 20px;
}

.seperator .line {

    width: 20px;
    border-bottom: 1px solid #66696D;
}



.video-list-item {
    margin-bottom:20px;
    position:relative;
    height: 235px;
}


.list-item-container {
    border:1px solid #ededed;
    background:#fff;
    font-size:12px;
    text-align:center;
    transition:border 500ms ease-out;
    -webkit-transition:border 500ms ease-out;
    -moz-transition:border 500ms ease-out;
    -o-transition:border 500ms ease-out;
    border-bottom:medium double #ddd;
    position:relative;
    overflow:hidden;
}
.list-item-container:hover {
    border-bottom:medium double #ccc;
}
.list-item-container p {
    margin-bottom:10px;
    color:#666;
}
.list-item-container h3 {
    font-size:16px;
    line-height:1;
    font-weight:bold;
    padding-left:10px;
    padding-right:10px;
}
.list-item-container h3 a {
    padding-bottom:10px;
    border-bottom:1px solid #eee;
    display:block;
    color:#666;
    line-height:20px;
}
.list-item-container img {
    position:relative;
    width: 100%;
}

.list-item-container .decription {
    padding:5px 15px 20px 15px;
    line-height: 1.4;
    text-align: left;
}

.deff {
    font-weight: bold;
    padding-right: 5px;
}

.block-sidebar {
    font-size: 12px;
    line-height: 1.7;
}

.block-sidebar .checkbox {
    margin-top: 0px;
    margin-bottom: 0px;
}

.block-sidebar label {
    font-weight: normal;
}
.block-sidebar ul {
    overflow: hidden;
    height: auto;
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

.block-sidebar li {
    margin: 0 0 7px 0;
    list-style: none;
}


hr{
    border-top-color: #ddd;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media print,
(-o-min-device-pixel-ratio: 5/4),
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi) {

}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}